config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
install-sh
intltool-extract*
intltool-merge*
intltool-update*
libtool
ltmain.sh
missing
mkinstalldirs
Makefile.in
Makefile
stamp-h*
aclocal.m4
autom4te.cache/*
po/Makefile.in.in
po/POTFILES
po/stamp-it
po/.intltool-merge-cache
src/raw-thumbnailer
data/raw-thumbnailer.schemas
data/raw-thumbnailer.schemas.in
data/update-gconf.sh
.deps
.libs
*~
*.o
